
<ol class="post-list">
    {{#each posts as |post|}}
    <li>
       {{> post-info post}} 
       {{!-- to use a partial, we just need '>' and then name of the partial file and object we will pass to partial --}}
    </li>
    {{/each}}
</ol>